/* סגנון לדף קורס */
.upload-question-date-page {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f9f9f9;
    padding: 20px;
}

.question-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* מרווח בין השדות */
    margin-top: 10px; /* מיקום מעט נמוך יותר */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

.question-search {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
  }

  .confirm-button-question {
    background-color: #f5a623;
    color: white;
    font-size: 1rem; /* הקטנה של גודל הגופן */
    border: 2px solid #d38a67; /* גבול בגודל 2px עם צבע של גבול דמוי-חום */
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px; /* גובה אחיד עם השדה */
    margin-top: 10px;
  }
  
  .confirm-button-question:hover {
    background-color: #e59428;
  }