/* סגנון לדף קורס */
.upload-question-date-page {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f9f9f9;
    padding: 20px;
}

  .confirm-button-question {
    background-color: #f5a623;
    color: white;
    font-size: 1rem; /* הקטנה של גודל הגופן */
    border: 2px solid #d38a67; /* גבול בגודל 2px עם צבע של גבול דמוי-חום */
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px; /* גובה אחיד עם השדה */
    margin-top: 10px;
    min-width: 100px;
  }
  
  .confirm-button-question:hover {
    background-color: #e59428;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.question-date-field {
  width: 100%; /* הגדרה רוחב אחיד */
  min-width: 225px; /* מקסימום רוחב */
  padding: 10px; /* ריווח פנימי */
  border-radius: 8px;
  border: 1px solid #d38a67;
  font-size: 1rem; /* גודל גופן */
  box-sizing: border-box; /* כולל ריווחים בגבול */
}