.upload-question-content-page {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f9f9f9;
    padding: 20px;
}

.details-container {
    display: flex;
    justify-content: center; /* למרכז את כל השורה */
    align-items: center; /* יישור אנכי */
    gap: 20px; /* רווח בין האלמנטים */
    padding: 20px;
    border-radius: 10px; /* פינות מעוגלות */
    background-color: #f9f9f9; /* צבע רקע בהיר */
    font-family: Arial, sans-serif;
  }
  
  .detail-item {
    padding: 10px;
    background-color: #fdfbfa; /* צבע רקע כתום */
    color: rgb(7, 7, 7); /* צבע טקסט */
    border-radius: 5px; /* פינות מעוגלות */
    font-size: 1.2rem; /* גודל טקסט */
    min-width: 150px; /* רוחב מינימלי כדי ליישר */
    text-align: center; /* יישור טקסט במרכז */
  }

  .add-question-button {
    background-color: #f5a623;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 200px;
}