.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.forgot-password-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.forgot-password-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.forgot-password-container input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

.forgot-password-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password-container button:hover {
    background-color: #0056b3;
}

.response-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
}

.back-button {
    background: none;
    color: #007bff;
    text-decoration: underline;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.back-button:hover {
    color: #0056b3;
}
